SEARCH_BACKEND=elasticsearch

ELASTICSEARCH_URL=http://193.191.134.79:9200
ELASTICSEARCH_USER=readonly_user
ELASTICSEARCH_PASSWORD=4uqh2bre9d13

ES_INDEX=odis_metadata
ES_CATALOGUE_INDEX=catalogue

VITE_API_URL=/api/v1
